{% extends 'base.html' %}

{% block title %}Administrador{% endblock %}

{% block content %}

<style>
    .errorlist{
        color:red;
        list-style: none;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mx-auto form-control" style="max-width: 400px;">
            <br>
            <h3 class="text-center">Login Administrador</h3>
            <br>
            <form style="width: 300px; margin: auto;" action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-lg btn-success">Entrar Administrador</button>
                {% if error %}

                <li style="color: red; list-style: none;">{{error}}</li>

                {% endif %}
                
            </form>
            <br>

        </div>
    </div>
</div>

{% endblock %} 